.active {
  color: green;
  font-weight: bold;
}

.inactive {
  color: red;
  font-weight: bold;
}

.nav-btn{
  height: 10px;
  background-color: cadetblue;
  color: black;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}